name: Build Android APK

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # Allows you to trigger manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --split-per-abi
    
.     - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: app-release-split
          path: build/app/outputs/flutter-apk/*.apk
